.comment {
    margin: 30px 0 100px;
    line-height: 35px;
}

.comment textarea {
    width: 100%;
}

.comment input,
.comment button,
.comment textarea {
    border: 1px solid #aaa;
    line-height: 24px;
    font-size: 14px;
    padding: 3px 8px;
}

.comment textarea:focus,
.comment input:focus,
.comment button:focus {
    outline: none;
    border: 1px solid #666;
}